.banner {
  background-size: cover;
  background-position: center;
  padding: 168px 0;
  color: white;
  h1 {
    font-size: 88px;
    font-weight: bolder;
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
  }
  u {
    margin-bottom: 24px solid #F7B05B;
  }
}

